extends layout

block content
  div.container
    div.d-flex.justify-content-between.mb-5
      h1.ml-5 #{title}
      if category
        div.d-flex.gap-sm.button-wrapper
              button.btn.btn-outline-info.product-detail-button
                a.link-fill-sm(href=category.url + '/update') &nbsp;EDIT&nbsp;
              button.btn.btn-outline-danger.product-detail-button
                a.link-fill-sm(href=category.url + '/delete') &nbsp;DELETE&nbsp;
    div.d-flex.flex-wrap.gap-1.justify-content-center
      each product in products_list
        a.product-link.px-3(href=product.url)
          div.product-card.d-flex.flex-column.gap-1.align-items-start
            div.product-image
              img(src="https://via.placeholder.com/220/888888/111111/?text=Product+Thumbnail+Placeholder")
            p.h6 #{product.name}
            p.h2.text-success.font-weight-bold $#{product.price}

